mixin nav()
    nav.nav
        ul.nav__list
            li.active
                a(href="index.html") Главная
            li
                a(href="#") О нас
            li
                a(href="#") Каталог
            li
                a(href="#") Информация
            li
                a(href="#") Контакты
