doctype html
html(lang="ru")
    include ../components/head/head
    include ../components/footer/footer
    include ../components/menu/menu
    include ../components/header/header



    head
        +head(main)
    body
        .wrapper
            +header()
            section.content
                main.main-content




        .footer
            +footer()