mixin head(title)
    meta(charset="utf-8")
    title= title
    //meta(content="", name="description")
    //meta(content="", name="keywords")
    //meta(content="telephone=no", name="format-detection")
    link(rel="icon" type="image/x-icon" href="favicon.ico")

    link(href='%=static=%libs/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='%=static=%libs/owl/assets/owl.carousel%=hash=%%=min=%.css', rel='stylesheet')
    link(href='%=static=%css/main%=hash=%%=min=%.css' rel='stylesheet' type='text/css')